<h3>SITES</h3>
<small>
<table class='table table-sm' style='margin-top: 20px;'>
  <thead>
    <tr>
      <th>Site Name</th>
      <th>Site URL</th>
      <th>Pixel</th>
    </tr>
  </thead>
  <tbody>
    <%= for site <- @sites do %>
    <tr>
      <td><%= site.site_name %></td>
      <td><%= site.site_url %></td>
      <td>
        /png0/<%= site.site_pubid %>?path=/test
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</small>
